<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h2>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h2>
      <p class="lead">{{ site.description }}</p>
    </div>

     <nav class="sidebar-social">
      <ul class="navigation">

        <li class="social-item twitter">
          <a href="http://twitter.com/@maros87" title="@maros87 on Twitter" target="_blank">
            <i class="icon fa fa-twitter"></i>
            <span class="label">Twitter</span>
          </a>
        </li>

      <li class="social-item linkedin">
          <a href="https://www.linkedin.com/in/fsergio101" title="@fsergio101 on LinkedIn" target="_blank">
            <i class="icon fa fa-linkedin"></i>
            <span class="label">LinkedIn</span>
          </a>
        </li>
      
        <li class="social-item gplus">
          <a href="https://plus.google.com/+SergioMartínez_fsergio101/posts" title="+fsergio101" target="_blank">
            <i class="icon fa fa-google-plus-square"></i>
            <span class="label">Google+</span>
          </a>
        </li>

        <li class="social-item github">
          <a href="{{ site.github.repo }}" title="@fsergio101 on GitHub" target="_blank">
            <i class="icon fa fa-github"></i>
            <span class="label">GitHub</span>
          </a>
        </li>
      </ul>
    </nav>

    <p><I>"Share your knowledge. It is a way to achieve immortality" </I>
    <br/>
    (Dalai Lama Xiv)
    </p>
  </div>
</div>
